@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;900&display=swap");

body,
html {
  background-color: #f8f8f8;
}

h1,
h2,
h3,
h4,
h5,
h6,
.bold {
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
}

p,
div,
span {
  font-family: "League Spartan", sans-serif;
}

.sidebar {
  width: 4.5rem;
}

.vh-100 {
  height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #abb2b4;
  border-radius: 20px;
  border: 3px solid transparent;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9ca195;
}

::-webkit-scrollbar-corner {
  display: none;
}

.custom-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 128, 255, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.custom-card:hover {
  animation: glow 2s linear infinite;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 128, 255, 0.3);
  }
  50% {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 60px rgba(0, 128, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 128, 255, 0.3);
  }
}

.quiz-container {
}

.quiz-container .active-question-no {
  font-size: 32px;
  font-weight: 500;
  color: #59c3e4;
}

.quiz-container .total-question {
  font-size: 16px;
  font-weight: 500;
  color: #4eeb68;
}

.quiz-container h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.quiz-container ul {
  margin-top: 20px;
  margin-left: -40px;
}

.quiz-container ul li {
  text-decoration: none;
  list-style: none;
  color: #2d264b;
  font-size: 16px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  padding: 11px;
  margin-top: 15px;
  cursor: pointer;
}

.quiz-container ul .selected-answer {
  background: #78bae6;
  border: 1px solid #4f93b3;
}

.quiz-container button {
  background: linear-gradient(90.04deg, #78bae6 0.03%, #244055 99.96%);
  border-radius: 9px;
  font-size: 18px;
  color: #ffffff;
  padding: 10px 42px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.quiz-container button:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.result h3 {
  font-size: 24px;
  letter-spacing: 1.4px;
  text-align: center;
}

.result p {
  font-size: 16px;
  font-weight: 500;
}

.result p span {
  color: #73bfcc;
  font-size: 22px;
}

.vh-75 {
  height: 75vh;
}

.text-big {
  font-size: 2.5rem;
}

.gradient-underline {
  font-size: 2.5vw;
}

.gradient-underline:hover {
  color: #ebebea;
  text-decoration: none;
}

.gradient-underline::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: linear-gradient(60deg, #409cfe, #f687ff 100%);
  content: "";
  height: 4px;
  transition: all 0.5s;
  width: 100%;
}

.gradient-underline:hover::after {
  width: 70%;
}

.btn-grad {
  background: linear-gradient(60deg, #3689e1, #d233de 100%) !important;
}

.btn-grad:hover {
  background: linear-gradient(60deg, #409cfe, #f687ff 100%) !important;
  color: black;
}

.btn-grad-inv {
  background: linear-gradient(60deg, #d233de, #3689e1 100%) !important;
}

.btn-grad-inv:hover {
  background: linear-gradient(60deg, #f687ff, #409cfe 100%) !important;
  color: black;
}

.btn-grey {
  background-color: #e0dfdf;
}

.gradient-text {
  background: linear-gradient(60deg, #176bc5, #d233de 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 700;
}

.dot-pattern {
  background: linear-gradient(90deg, #f8f8f8 21px, transparent 1%) center,
    linear-gradient(#f8f8f8 21px, transparent 1%) center, #a799cc;
  background-size: 22.9px 22.9px;
  height: 80vh;
}

.vh-50 {
  height: 50vh;
}

.btn-profile {
  height: 50px;
  width: 50px;
}
a {
  color: black;
  text-decoration: none;
  position: relative;
}

a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-image: linear-gradient(to right, #409cfe, #f687ff);
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

a:hover::after {
  width: 100%;
  left: 0;
}

a::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-image: linear-gradient(to right, #409cfe, #f687ff);
  transition: width 0.3s ease-in-out, right 0.3s ease-in-out;
}

a:hover::before {
  width: 100%;
  right: 0;
}

.ant-divider-horizontal.ant-divider-with-text::before {
  border-block-start-color: grey;
}

.ant-divider-horizontal.ant-divider-with-text::after {
  border-block-start-color: grey;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 20px;
  backdrop-filter: blur(5px);
  background-color: rgba(248, 248, 248, 0.8);
  transition: background-color 0.5s ease-in-out;
}

.header.scrolled {
  background-color: rgba(255, 255, 255, 0);
}

.custom-card {
  background-color: rgba(139, 134, 134, 0.842);
  padding: 1rem;
  border-radius: 1rem;
}

.scroll-to-top {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  -webkit-animation: fadeIn 700ms ease-in-out 1s both;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.scroll-icon {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background: #0d1117;
  fill: white;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.loading-card {
  margin: 10px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  background-color: #e0e0e0;
  border-radius: 1rem;
  padding: 1rem;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}

.loading-card .image {
  height: 12rem;
  width: 8rem;
  margin: 0 auto;
  border-radius: 0.5rem;
}

.loading-card .content {
  padding: 20px 30px;
}

.loading-card .image,
.loading-card h2,
.loading-card p {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  margin: 0.5rem auto;
  -webkit-animation: 1.5s shine linear infinite;
  animation: 1.5s shine linear infinite;
}

.loading-card h2 {
  height: 30px;
}

.loading-card p {
  height: 20px;
  width: 80%;
  margin: 0.4rem auto;
}

.loading-card:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

.load-more {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
  padding: 10px;
  margin-bottom: 50px;
}

.load-more button {
  padding: 0.7rem 1.4rem 0.7rem 1.4rem;
  background-color: white;
  border: 1px solid #353434;
  color: black;
  border-radius: 0.4rem;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.load-more button:hover {
  background-color: #353434;
  color: white;
  -webkit-animation: hover 0.5s ease-in-out;
  animation: hover 0.5s ease-in-out;
}

@-webkit-keyframes hover {
  from {
    background-color: white;
    color: black;
  }
  to {
    background-color: #353434;
    color: white;
  }
}

@keyframes hover {
  from {
    background-color: white;
    color: black;
  }
  to {
    background-color: #353434;
    color: white;
  }
}

@-webkit-keyframes shine {
  to {
    background-position-x: -200%;
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 850px) {
  .github-icon {
    top: 110px;
  }
  .heading-name {
    width: 48rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .container-articles {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .heading-name {
    font-size: 42px;
    width: 35rem;
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.modal-active {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  position: relative;
  -webkit-transition: all 0.52s ease-in-out;
  transition: all 0.52s ease-in-out;
}

.popup > h3 {
  padding: 1em;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup > .close {
  position: absolute;
  top: 10px;
  right: 20px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup > .close:hover {
  color: #06d85f;
  cursor: pointer;
}

.popup > .content {
  max-height: 30%;
  word-break: break-word;
}

@media screen and (max-width: 820px) {
  .popup {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .loading-name {
    width: 90%;
    font-size: 1rem;
  }
  .heading-name {
    width: auto;
    font-size: 2rem;
  }
}

@media screen and (max-width: 350px) {
  .heading-name {
    width: auto;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 200px) {
  .github-icon {
    top: -50px;
  }
}
