@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;900&display=swap");

body,
html {
  background-color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6,
.bold {
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
}

p,
div,
span {
  font-family: "League Spartan", sans-serif;
}

.sidebar {
  width: 4.5rem;
}

.vh-100 {
  height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #abb2b4;
  border-radius: 20px;
  border: 3px solid transparent;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9ca195;
}

::-webkit-scrollbar-corner {
  display: none;
}

/* .custom-card {
  background-color: grey;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 128, 255, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.custom-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 80px rgba(0, 128, 255, 0.6);
} */

/* .custom-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 128, 255, 0.3);
  animation: glow-animation 2s ease-in-out infinite alternate;
}

@keyframes glow-animation {
  0% {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 128, 255, 0.3);
  }
  50% {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 80px rgba(0, 128, 255, 0.6);
  }
  100% {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 128, 255, 0.3);
  }
} */

/* .custom-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 128, 255, 0.3);
  transition: box-shadow 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.custom-card::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  bottom: -50%;
  right: -50%;
  background-color: rgba(0, 128, 255, 0.2);
  transform: rotate(45deg);
  z-index: -1;
  animation: glow 3s linear infinite;
}

@keyframes glow {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 128, 255, 0.3);
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 80px rgba(0, 128, 255, 0.6);
  }
}

.custom-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 80px rgba(0, 128, 255, 0.6);
} */

/* .custom-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 128, 255, 0.3);
  transition: box-shadow 0.3s ease-in-out;
  position: relative;
}

.custom-card::before {
  content: "";
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  background-color: #0080ff;
  z-index: -1;
  border-radius: 20px;
  opacity: 0;
  animation: glow 2s ease-in-out infinite;
}

@keyframes glow {
  0% {
    opacity: 0;
    box-shadow: 0 0 0 rgba(0, 128, 255, 0.3);
  }
  50% {
    opacity: 1;
    box-shadow: 0 0 40px rgba(0, 128, 255, 0.6);
    transform: translateX(calc(-50% + 1px))
      rotateZ(calc(-1deg - 1deg * random()));
  }
  100% {
    opacity: 0;
    box-shadow: 0 0 0 rgba(0, 128, 255, 0.3);
  }
}

.custom-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 80px rgba(0, 128, 255, 0.6);
}

.custom-card:hover::before {
  opacity: 1;
  animation: none;
} */

.custom-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 128, 255, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.custom-card:hover {
  animation: glow 2s linear infinite;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 128, 255, 0.3);
  }
  50% {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 60px rgba(0, 128, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 128, 255, 0.3);
  }
}

.quiz-container {
  max-width: 500px;
  min-width: 250px;
  background: #ffffff;
  border-radius: 4px;
}

.quiz-container .active-question-no {
  font-size: 32px;
  font-weight: 500;
  color: #800080;
}

.quiz-container .total-question {
  font-size: 16px;
  font-weight: 500;
  color: #e0dee3;
}

.quiz-container h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.quiz-container ul {
  margin-top: 20px;
  margin-left: -40px;
}

.quiz-container ul li {
  text-decoration: none;
  list-style: none;
  color: #2d264b;
  font-size: 16px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  padding: 11px;
  margin-top: 15px;
  cursor: pointer;
}

.quiz-container ul .selected-answer {
  background: #ffd6ff;
  border: 1px solid #800080;
}

.quiz-container button {
  background: linear-gradient(90.04deg, #800080 0.03%, #ffc0cb 99.96%);
  border-radius: 9px;
  font-size: 18px;
  color: #ffffff;
  padding: 10px 42px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.quiz-container button:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.result h3 {
  font-size: 24px;
  letter-spacing: 1.4px;
  text-align: center;
}

.result p {
  font-size: 16px;
  font-weight: 500;
}

.result p span {
  color: #800080;
  font-size: 22px;
}
