@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;900&display=swap");

body,
html {
  background-color: #f8f8f8;
}

h1,
h2,
h3,
h4,
h5,
h6,
.bold {
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
}

p,
div,
span {
  font-family: "League Spartan", sans-serif;
}

.sidebar {
  width: 4.5rem;
}

.vh-100 {
  height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #abb2b4;
  border-radius: 20px;
  border: 3px solid transparent;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9ca195;
}

::-webkit-scrollbar-corner {
  display: none;
}

.custom-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 128, 255, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.custom-card:hover {
  animation: glow 2s linear infinite;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 128, 255, 0.3);
  }
  50% {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 60px rgba(0, 128, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 128, 255, 0.3);
  }
}

.quiz-container {
  max-width: 500px;
  min-width: 250px;
  background: #ffffff;
  border-radius: 4px;
}

.quiz-container .active-question-no {
  font-size: 32px;
  font-weight: 500;
  color: #800080;
}

.quiz-container .total-question {
  font-size: 16px;
  font-weight: 500;
  color: #e0dee3;
}

.quiz-container h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.quiz-container ul {
  margin-top: 20px;
  margin-left: -40px;
}

.quiz-container ul li {
  text-decoration: none;
  list-style: none;
  color: #2d264b;
  font-size: 16px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  padding: 11px;
  margin-top: 15px;
  cursor: pointer;
}

.quiz-container ul .selected-answer {
  background: #ffd6ff;
  border: 1px solid #800080;
}

.quiz-container button {
  background: linear-gradient(90.04deg, #800080 0.03%, #ffc0cb 99.96%);
  border-radius: 9px;
  font-size: 18px;
  color: #ffffff;
  padding: 10px 42px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.quiz-container button:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.result h3 {
  font-size: 24px;
  letter-spacing: 1.4px;
  text-align: center;
}

.result p {
  font-size: 16px;
  font-weight: 500;
}

.result p span {
  color: #800080;
  font-size: 22px;
}

.vh-75 {
  height: 75vh;
}

.text-big {
  font-size: 2.5rem;
}

.gradient-underline {
  font-size: 2.5vw;
}

.gradient-underline:hover {
  color: #ebebea;
  text-decoration: none;
}

.gradient-underline::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: linear-gradient(60deg, #409cfe, #f687ff 100%);
  content: "";
  height: 4px;
  transition: all 0.5s;
  width: 100%;
}

.gradient-underline:hover::after {
  width: 70%;
}

.btn-grad {
  background: linear-gradient(60deg, #3689e1, #d233de 100%) !important;
}

.btn-grad:hover {
  background: linear-gradient(60deg, #409cfe, #f687ff 100%) !important;
  color: black;
}

.btn-grad-inv {
  background: linear-gradient(60deg, #d233de, #3689e1 100%) !important;
}

.btn-grad-inv:hover {
  background: linear-gradient(60deg, #f687ff, #409cfe 100%) !important;
  color: black;
}

.btn-grey {
  background-color: #e0dfdf;
}

.gradient-text {
  background: linear-gradient(60deg, #176bc5, #d233de 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 700;
}

.dot-pattern {
  background: linear-gradient(90deg, #f8f8f8 21px, transparent 1%) center,
    linear-gradient(#f8f8f8 21px, transparent 1%) center, #a799cc;
  background-size: 22.9px 22.9px;
  height: 80vh;
}

.vh-50 {
  height: 50vh;
}

.btn-profile {
  height: 50px;
  width: 50px;
}
a {
  color: black;
  text-decoration: none;
  position: relative;
}

a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-image: linear-gradient(to right, #409cfe, #f687ff);
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

a:hover::after {
  width: 100%;
  left: 0;
}

a::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-image: linear-gradient(to right, #409cfe, #f687ff);
  transition: width 0.3s ease-in-out, right 0.3s ease-in-out;
}

a:hover::before {
  width: 100%;
  right: 0;
}

.ant-divider-horizontal.ant-divider-with-text::before {
  border-block-start-color: grey;
}

.ant-divider-horizontal.ant-divider-with-text::after {
  border-block-start-color: grey;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 20px;
  backdrop-filter: blur(5px);
  background-color: rgba(248, 248, 248, 0.8);
  transition: background-color 0.5s ease-in-out;
}

.header.scrolled {
  background-color: rgba(255, 255, 255, 0);
}
